body{
    display: grid;
    grid-template-rows: 80px auto;
}
.documentation-container{
    display: grid;
    grid-template-columns: 300px auto;
    grid-row: 2 / 3;
}
.sidebar{
    grid-column-start: 1;
    grid-column-end: 2;
}
.components-container{
    margin-top: 2.5rem;
    grid-column-start: 2;
    grid-column-end: 3;
}
.component-section{
    margin: 0rem 2rem 3rem 2rem;
}
.component-example{
    border: 2px solid var(--secondary-color);
    max-width: 1100px;
    margin: 2.5rem 0rem 2.5rem 0rem;
    padding: 0.7rem;
}
.code-example{
    width: 95%;
    max-width: 1000px;
    height: 300px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.code-example::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.code-example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@media only screen and (max-width: 800px)
{
    .components-container{
        margin-top: 4rem;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .component-section{
        margin: 0rem 1.5rem 0rem 1.5rem;
        padding-bottom: 2.5rem;  
    }
}