@import "./NavBar/navbar.css";
@import "./Sidebar/sidebar.css";
@import "./Alerts/alerts.css";
@import "./Typography/typography.css";
@import "./Avatar/avatar.css";
@import "./Image/image.css";
@import "./Badge/badge.css";
@import "./Buttons/button.css";
@import "./Cards/cards.css";
@import "./Inputs/inputs.css";
@import "./Lists/lists.css";
@import "./Modal/modal.css";
@import "./Toasts/toast.css";
@import "./Simplified-Grid/simplified-grid.css";
@import "./RatingBar/rating-bar.css";
@import "./Slider/slider.css";
@import "./Forms/forms.css";


*{
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
}
:root{
    --primary-color: #2D3092;
    --primary-color-dark: #11157d;
    --secondary-color: #1E2063;
    --secondary-color-dark: #11134f;
    --background-color: #F7FAFB;
    --primary-text-color: #323232;
    --secondary-text-color: #000130;
    --primary-alert-background-color:#7FD2E6;
    --primary-alert-text-color: #29438b;
    --badge-text-color: white;
    --badge-background-color:#1E2063;
    --secondary-alert-background-color:#eaeaec;
    --secondary-alert-text-color: #696b79;
    --success-alert-background-color:#84f1c9;
    --success-alert-text-color: #1b7052;
    --danger-alert-background-color:#fcc5c5;
    --danger-alert-text-color: #dc3545;
    --warning-alert-background-color: #ffe7c5;
    --warning-alert-text-color: #ff9204;
    --dark-green: #024f0c;
    --light-green: #16c72a;
    --light-red: #d90715;
    --dark-red: #ad020d;
    --dark-yellow: #ffb303;
    --success-button: #28a745;
    --warning-button: #ffc107;
    --info-button: #17a2b8;
    --modal-background-color: #dedddc;
}
a{
    text-decoration: none;
    color: inherit;
}
.flex-row{
    display: flex;
    flex-wrap: wrap;
}
.flex-row-center-vertical{
    align-items: center;
}
.flex-row-center-horizontal{
    justify-content: center;
}
.flex-row-center-horizontal-vertical{
    align-items: center;
    justify-content: center;
}
.flex-gap-1{
    gap: 1rem;
}
.flex-gap-2{
    gap: 2rem;
}
.flex-gap-3{
    gap: 3rem;
}
.center{
    margin: auto;
}
button{
    border: none;
}
.flex-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.margin-vertical-xs{
    margin: 0.3rem 0rem 0.3rem 0rem;
}
.margin-vertical-sm{
    margin: 0.5rem 0rem 0.5rem 0rem;
}
.margin-vertical-md{
    margin: 0.7rem 0rem 0.7rem 0rem;
}
.margin-vertical-lg{
    margin: 1rem 0rem 1rem 0rem;
}
.margin-vertical-xl{
    margin: 1.5rem 0rem 1.5rem 0rem;
}
.margin-horizontal-xs{
    margin: 0rem 0.3rem 0rem 0.3rem;
}
.margin-horizontal-sm{
    margin: 0rem 0.5rem 0rem 0.5rem;
}
.margin-horizontal-md{
    margin: 0rem 0.7rem 0rem 0.7rem;
}
.margin-horizontal-lg{
    margin: 0rem 1rem 0rem 1rem;
}
.margin-horizontal-xl{
    margin: 0rem 1.5rem 0rem 1.5rem;
}

.padding-vertical-xs{
    padding: 0.3rem 0rem 0.3rem 0rem;
}
.padding-vertical-sm{
    padding: 0.5rem 0rem 0.5rem 0rem;
}
.padding-vertical-md{
    padding: 0.7rem 0rem 0.7rem 0rem;
}
.padding-vertical-lg{
    padding: 1rem 0rem 1rem 0rem;
}
.padding-vertical-xl{
    padding: 1.5rem 0rem 1.5rem 0rem;
}
.padding-horizontal-xs{
    padding: 0rem 0.3rem 0rem 0.3rem;
}
.padding-horizontal-sm{
    padding: 0rem 0.5rem 0rem 0.5rem;
}
.padding-horizontal-md{
    padding: 0rem 0.7rem 0rem 0.7rem;
}
.padding-horizontal-lg{
    padding: 0rem 1rem 0rem 1rem;
}
.padding-horizontal-xl{
    padding: 0rem 1.5rem 0rem 1.5rem;
}
.spacer-3{
    width: 100%;
    height: 3rem;
}
.spacer-2{
    width: 100%;
    height: 2rem;
}
.spacer-1{
    width: 100%;
    height: 1rem;
}

@media only screen and (max-width: 600px){
    *{
        font-size: 80%;
    }
}