.input-box{
    position: relative;
    /* margin: 1rem 0rem 1rem 0rem; */
    width: 100%;
}
.input-box input{
    width: 95%;
    height: 2.7rem;
    border-radius: 0.5rem;
    border: 1px solid #BCBCBC;
    transition: 0.25s;
    font-size: 1rem;
    /* padding-left: 10px; */
    background-color: transparent;
}
.input-box input:focus{
    outline: none;
    border: 2px solid #000F61;
}
.input-box .success{
    outline: none;
    border: 2px solid var(--dark-green);
}
.input-box .warning{
    outline: none;
    border: 2px solid var(--dark-yellow);
}
.input-box .error{
    outline: none;
    border: 2px solid var(--dark-red);
}
.input-box label{
    position: absolute;
    color: #282828;
    font-size: 14px;
    font-weight: 500;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    left: 12px;
    top: 13px;
    transition: 0.25s;
}
.simple-input{
    padding-left: 1rem;
}
.input-box span{
    color: var(--dark-red);
}
.input-box.active .input-label,
.input:focus + .input-label,
.input:active + .input-label{
    top: -6px;
    left: 12px;
    background-color: var(--background-color);
    font-size: 0.8rem;
}
  
/* When the value is present inside the input box */
.input:not([value=""]) + .input-label{
top: -6px;
left: 12px;
background-color: var(--background-color);
font-size: 0.8rem;
}